#light_mode {
    background-color: #fff;
}
#dark_mode {
    background-color: #626262;
}

#container {
    width: 1220px;
    margin: 80px auto;
}

#toggle{
    width: 60px;
    height: 30px;
    background-color: #eeeeee;
    border-radius: 30px;
    float: right;
    box-shadow: inset 1px 1px 4px #aaa, 0px 0px 5px #ddd;
    position: relative;
}

#toggle_cricle {
    width: 25px;
    height: 25px;
    position: absolute;
    box-shadow: 1px 1px 4px #aaa;
    background-color: #fff;
    border-radius: 50%;
    top: 2px;
    left: 3px;
}


/* Side */

#Side {
    width: 300px;
    height: 700px;
    background-color: #fafafafa;
    border: 4px solid #fff;
    border-collapse: collapse;
    border-radius: 15px;
    box-shadow: 0px 3px 6px #e0e0e0;
    text-align: center;
    float: left;
    margin-right: 30px;
}

#profil {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-image: linear-gradient(170deg, #9589E5, #CA6D98);
    background-position: center;
    background-size: cover;
    margin: 40px auto;
}

#profil>img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    margin-top: 5.5px;
}

#name {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 50px;
}


#addr,
#mail,
#phone {
    text-align: left;
    margin-left: 40px;
    margin-bottom: 50px;
}


/* contents */

#contents {
    width: 500px;
    float: left;
    margin-right: 30px;
}

#Introduce {
    width: 500px;
    height: 150px;
    background-color: #fafafafa;
    border: 4px solid #fff;
    border-collapse: collapse;
    border-radius: 15px;
    box-shadow: 0px 3px 6px #e0e0e0;
    padding: 20px;
    display: inline-block;
    margin-bottom: 20px;
    /* position: relative; */
}

#intro {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 40px;
}

#Introduce>.str {
    font-size: 13px;
}

#selectmenu {
    width: 500px;
    height: 10px;
    text-align: center;
    line-height: 10px;
    background-color: #fafafafa;
    border: 4px solid #fff;
    border-collapse: collapse;
    border-radius: 30px;
    box-shadow: 0px 3px 6px #e0e0e0;
    padding: 20px;
    margin-bottom: 20px;
    float: left;
}

#menubox {
    text-align: center;
    line-height: 10px;
    display: inline-block;
}

button {
    border: none;
    background-color: #fafafafa;
    font-size: 15px;

}

#menu {
    width: 500px;
    height: 365px;
    background-color: #ffffff;
    border: 4px solid #fff;
    border-collapse: collapse;
    border-radius: 15px;
    box-shadow: 0px 3px 6px #e0e0e0;
    padding: 20px;
    float: left;
}

.select1, .select2 {
    line-height: 10px;
    font-size: 18px;
}

.select1:hover, .select2:hover{
    font-weight: bold;
}

#menu1>#menu1_str,
#menu2>#menu2_str {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    display: block;
}

#line {
    width: 300px;
    height: 15px;
    border-radius: 30px;
    background-color: #e7e7e7;
    box-shadow: inset 2px 2px 4px #a1a1a1, 0px 0px 5px #ddd;
    margin: 10px 0 10px 0;
    position: relative;
}

#line1 {
    width: 130px;
    height: 15px;
    border-radius: 30px;
    background-color: #292929;
    position: absolute;
}

#line2 {
    width: 180px;
    height: 15px;
    border-radius: 30px;
    background-color: #292929;
    position: absolute;
}

#lineCricle1 {
    width: 20px;
    height: 20px;
    top: -3px;
    left: 120px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 3px 6px #a7a7a7;
    position: absolute;
}

#lineCricle2 {
    width: 20px;
    height: 20px;
    top: -3px;
    left: 170px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 3px 6px #a7a7a7;
    position: absolute;
}

table {
    width: 70%;
    border: 1px solid #222;
    border-collapse: collapse;
}

thead {
    background: #eee;
}

th,
td {
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 0.8em;
}

/* box */

#box {
    float: right;
    /* margin-bottom: 50px; */
}

#box1,
#box2,
#box3 {
    margin-bottom: 20px;
}

#box1 {
    width: 300px;
    height: 190px;
    line-height: 190px;
    text-align: center;
    border: 4px solid #fff;
    border-collapse: collapse;
    border-radius: 15px;
    box-shadow: 0px 3px 6px #e0e0e0;
    background-image: url("media/image.png");
    background-position: center;
    background-size: cover;
}

#box1>#portfolio {
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

#box2 {
    width: 300px;
    height: 150px;
    text-align: center;
    border: 4px solid #fff;
    border-collapse: collapse;
    box-shadow: 0px 3px 6px #e0e0e0;
    border-radius: 15px;
    background-color: #fafafafa;
}

#box3 {
    width: 300px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border: 4px solid #fff;
    border-collapse: collapse;
    border-radius: 15px;
    box-shadow: 0px 3px 6px #e0e0e0;
    background-color: #ffffff;
}

#box4 {
    width: 300px;
    height: 215px;
    line-height: 50px;
    border: 4px solid #fff;
    border-collapse: collapse;
    border-radius: 15px;
    box-shadow: 0px 3px 6px #e0e0e0;
    background-color: #fafafafa;
}

#box4>.memo {
    margin-left: 20px;
    font-weight: bold;
}

#box4>span {
    /* margin-top: 50px; */
    margin-left: 20px;
    color: #6c6c6c;
    font-weight: bold;
    font-size: 12px;
}

#box4>.line {
    border: 1px solid #ededed;
    width: 250px;
    /* margin-bottom: 30px; */
    margin-left: 20px;
}

#today {
    margin-top: 35px;
    font-size: 15px;
    display: inline-block;
}

#time {
    font-size: 38px;
    font-weight: bold;
    text-shadow: 0px 0px 5px #9f9f9f;
    display: inline-block;
}

.icon {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    display: inline-block;

}

a>img,
.icon>img {
    width: 40px;
    height: 40px;
}

.icon>img {
    animation: move 10s infinite;
}

@keyframes move {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}